.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project_container {
    padding: 4em;
}

.title_container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}