.Container {    
    /* AQUI TINHA WIDTH:1200px; */
    display: flex;
    flex-direction: column; 
    justify-content: space-between;   
}

.start {
    justify-content: flex-start;
}

.min-height {
    min-height: 85vh;
    
}
