.btn {
    background-color: rgb(34, 34, 34);
    color: #ffF;        
    padding: 0.5em 1em;
    text-decoration: none;
    transition: 0.5s;    
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    color: rgb(255, 140, 0);
}
